h1 {
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  color: #ad1d28;
}

body {
    margin: 20px;
}

.ortho-container {
    padding: 20px;
    background: #ccc;
}

.section {
    margin: 20px;
    background: #ddd;
}

.section .label {
    background: lightyellow;
    color: black;
}


.section .orthovalue {
    display: inline-block;
}

.fastabox {
    overflow: auto;
    width: 800px;
    height: 200px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.search_results {
    padding: 20px;
    border: 1px solid black;
}

.num_results {
    font-size: 18px;
}
